
    @import url("https://fonts.googleapis.com/css2?family=Bitter&family=Work+Sans:wght@300;400;700&display=swap");
    * {
      margin: 0;
      padding: 0;
      font-weight: 400;
      font-family: "Work Sans", sans-serif;
      transition: all 0.25s ease-in-out;
    }
    main {
      background: #ffffff;
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 400px 1fr;
    }
    #Preview {
      position: relative;
    }
    #Preview button {
      position: absolute;
      left: 50%;
      top: 50%;
      font-weight: 300;
      transform: translate(-50%, -50%);
      background: #04a777;
      border: none;
      color: #fff;
      min-width: 110px;
      min-height: 36px;
      overflow: hidden;
      cursor: pointer;
      padding: 5px 10px;
    }
    #Preview button::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.25);
      transition: all 0.25s ease-in-out;
    }
    #Editor {
      overflow-y: scroll;
      display: grid;
      gap: 20px;
      padding: 30px 50px;
      border-right: 1px solid #f0f0f0;
      box-shadow: 1px 0 20px 0 rgba(0, 0, 0, 0.05);
    }
    #Editor * {
      width: 100%;
    }
    h1 {
      font-family: "Bitter", serif;
      color: #01153a;
      font-size: 24px;
    }
    h2 {
      margin-top: 30px;
      font-weight: 300;
      color: #01153a;
      font-size: 20px;
    }
    form {
      display: grid;
      gap: 30px;
    }
    form div {
      position: relative;
    }
    label {
      font-size: 16px;
    }
    /* ------------- Content (text), button size ------------- */
    input[type="text"],
    input[type="number"] {
      border: none;
      background: rgba(1, 21, 58, 0.1);
      height: 32px;
      padding: 0 15px;
      font-size: 18px;
      font-weight: 300;
      color: #01153a;
    }
    input[type="text"]:focus,
    input[type="number"]:focus {
      outline: 1px solid rgba(1, 21, 58, 0.8);
    }
    input[type="text"]::placeholder,
    input[type="number"]::placeholder {
      opacity: 0.4;
      color: #01153a;
      font-size: 16px;
    }
    input[type="text"]:focus::placeholder,
    input[type="number"]:focus::placeholder {
      opacity: 0;
    }
    /* Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    /* ------------- Font weight, size ------------- */
    #bFontWeight,
    #bFontSize,
    #bHover {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: max-content max-content;
      grid-auto-flow: row;
    }
    #bFontWeight > label,
    #bFontSize > label,
    #bHover > label {
      grid-column: 1/4;
      grid-row: 1;
    }
    #bFontWeight div,
    #bFontSize div,
    #bHover div {
      position: relative;
      overflow: hidden;
      height: 32px;
    }
    #bFontWeight input,
    #bFontSize input,
    #bHover input {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      z-index: 10;
    }
    #bFontWeight div label,
    #bFontSize div label,
    #bHover div label {
      width: 100%;
      height: 100%;
      position: absolute;
      text-align: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #bFontWeight div input:checked ~ label,
    #bFontSize div input:checked ~ label,
    #bHover div input:checked ~ label {
      background: #04a777;
      color: #fff;
    }
    #bFontWeight div input:not(:checked) ~ label,
    #bFontSize div input:not(:checked) ~ label,
    #bHover div input:not(:checked) ~ label {
      background: #e6f7f2;
    }
    #bFontWeight div input:hover:not(:checked) ~ label,
    #bFontSize div input:hover:not(:checked) ~ label,
    #bHover div input:hover:not(:checked) ~ label {
      background: #c2e9de;
    }
    /* ------------- Background color ------------- */
    input[type="color"] {
      cursor: pointer;
      -webkit-appearance: none;
      border: none;
      width: 32px;
      height: 32px;
      box-shadow: 1px 0 5px 0 rgba(0, 0, 0, 0.15);
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
    }
    .bColorArrow {
      width: 0 !important;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 8px solid #fff;
      position: absolute;
      right: 10px;
      bottom: 10px;
      mix-blend-mode: difference;
    }
    /* ------------- Button corners ------------- */
    #bCorners input {
      -webkit-appearance: none;
      width: 100%;
      height: 8px;
      border-radius: 5px;
      background: rgba(1, 21, 58, 0.2);
      outline: none;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      cursor: pointer;
    }
    #bCorners input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #04a777;
    }
    #bCorners input::-moz-range-thumb {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #04a777;
    }
    /* ------------- Button size ------------- */
    #bSize {
      display: grid;
      grid-template-columns: 1fr 10px 1fr;
      grid-template-rows: max-content max-content;
      grid-auto-flow: row;
    }
    #bSize > label {
      grid-column: 1/4;
      grid-row: 1;
    }
    #bSize > div {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 6px;
    }
    #bSize > div label {
      line-height: 29px;
    }
    #bSize > div span {
      font-size: 10px;
    }
    /* ------------- Hover animation 01 ------------- */
    .hover1::after {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
    .hover1:hover::after {
      opacity: 1;
    }
    /* ------------- Hover animation 02 ------------- */
    .hover2::after {
      content: "";
      position: absolute;
      top: -100%;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, 0);
      background: rgba(255, 255, 255, 0.25);
      transition: all 0.25s ease-in-out;
    }
    .hover2:hover::after {
      animation: buttonripple 0.5s ease-out;
      text-decoration: none;
    }
    @keyframes buttonripple {
      0% {
        top: -100%;
        transform: translate(-50%, 0);
      }
      45% {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      55% {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      100% {
        top: 100%;
        transform: translate(-50%, 0);
      }
    }
    /* ------------- Hover animation 01 ------------- */
    .hover3::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -100%;
      width: 100%;
      height: 100%;
      transform: translate(0, -50%);
      background: rgba(255, 255, 255, 0.25);
      transition: all 0.25s ease-in-out;
    }
    .hover3:hover::after {
      animation: buttonripple3 0.5s ease-out;
      text-decoration: none;
    }
    @keyframes buttonripple3 {
      0% {
        left: -100%;
        transform: translate(0, -50%);
      }
      45% {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      55% {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      100% {
        left: 100%;
        transform: translate(0, -50%);
      }
    }
    /* ------------- Form footer ------------- */
    .func {
      transform: translateY(-20px);
    }
    button.Submit {
      background: #01153a;
      border: none;
      height: 36px;
      color: #fff;
      cursor: pointer;
      position: relative;
    }
    form > div > label {
      display: block;
      margin-bottom: 10px;
    }
    button.Submit.Clicked::after {
      content: "Code copied!";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #ffffff;
      left: 50%;
      top: 50%;
      color: #01153a;
      border: 1px solid #01153a;
      transform: translate(-50%, -50%);
      line-height: 36px;
      cursor: text;
    }
